.angular-preload-style .full-overlay {
}

.angular-preload-style {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 99999;
}

.angular-preload-style {
    -webkit-transition:all linear 0.9s;
    transition:all linear 0.9s;
}

.angular-preload-style.ng-hide {
    opacity:0;
}